<%- include ../layouts/header.ejs %>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><%= title %><a href="/compra/add" class=" pull-right"><i class="fa fa-plus fa-fw"></i>Nova Compra</a></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>    
                            <th>Estabelecimento</th>
                            <th>Data Compra</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% if (compras) { %>
                                <% compras.forEach(function(compra){ %>
                                    <tr>
                                        <td>
                                            <% if(compra.pic=="no-user-pic.png"){ %>
                                               <img src="/images/no-user-image.png" style="height:50px;">     
                                           <% } %>
                                        </td>
                                        <td><%= compra.nmEstabelecimento %></td>
                                        <td><%= moment(compra.dtCompra).format(shortDateFormat) %></td>
                                        <td>
                                            <a href="/compra/edit/<%= compra.compraId %>"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="view-compra" data-compraId="<%= compra.compraId %>"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } %>        
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div id="compra_detail" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Detalhes da compra</h4>
            </div>
            <div class="modal-body">
                <p><b>Data Compra </b>: <span class="compra-dtCompra compra-details"></span></p>
                <p><b>Estabelecimento :</b> <span class="compra-estabelecimento compra-details"></span></p>
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
<%- include ../layouts/footer.ejs %>