<%- include ../layouts/header.ejs %>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><%= title %><a href="/usuario/add" class= "pull-right"><i class="fa fa-plus fa-fw">                
            </i>Add New Usuário</a>
        </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (usuarios) { %>
                        <% usuarios.forEach(function(usuario){ %>
                        <tr>
                            <td>
                                <%= usuario.nmUsuario %>
                            </td>
                            <td>
                                <%= usuario.nmEmail %>
                            </td>
                            <td>
                                <a href="/usuario/edit/<%= usuario.usuarioId %>"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<%- include ../layouts/footer.ejs %>